<h1>Create a New Article!</h1>
 <form method="POST" action="/articles">
    <label>Article Title</label> 
    <input type="text" name="title">
    <label>Content</label> 
    <input type="text" name="content">
    <input type="submit" value="Create">
 </form>